:root {
    --titulos-section: #a4896c;
    --font-titulos-sections: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sessaProdutosPopulares,
.sessaoStatus,
.sessaoServicos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.sessaProdutosPopulares .titulo,
.sessaoStatus .titulo
.sessaoServicos .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sessaProdutosPopulares .titulo h1,
.sessaoStatus .titulo h1,
.sessaoServicos .titulo h1 {
    color: var(--titulos-section);
    font-family: var(--font-titulos-sections);
}

.sessaProdutosPopulares .linha,
.sessaoStatus .linha,
.sessaoServicos .linha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessaProdutosPopulares .linha hr,
.sessaoStatus .linha hr,
.sessaoServicos .linha hr{
    width: 15%;
    border: 1px solid var(--titulos-section);
}

.sessaProdutosPopulares .containerProdutos,
.sessaoServicos .containerProdutos {
    width: 90%;
    height: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


/* sessão status do site */
.divDecorativa{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divDecorativa hr{
    width: 100%;
    position: absolute;
    z-index: 1;
    border: solid 70px rgb(0, 0, 0);
}

.cardsStatus{
    width: 90%;
    height: auto;
    gap: 30px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}